/* Estilo del encabezado (nombre grande) */
h1 {
    font-size: 5vw; /* Ajusta el tamaño en relación al ancho de la ventana */
    font-weight: bold;
    color: white;
    margin-top: 50px;
    animation: zoomInText 3s ease-out; /* Efecto de zoom en el texto */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /* Sombra para hacer que el texto resalte */
    text-transform: uppercase; /* Poner en mayúsculas */
}

/* Estilo de la imagen (foto personal) */
.personal-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    animation: scaleUp 2s ease-in-out;
}

/* Formulario de login */
#login-form {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; /* Asegura que el formulario esté centrado */
}

/* Cerrar sesión */
#logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff0072;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #d1005f;
}

