/* Fondo y diseño general */
body {
    background: linear-gradient(45deg, #4e54c8, #8f94fb, #00d2ff); /* Colores combinados vibrantes */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Alinea todo el contenido hacia la parte superior */
    color: white;
    overflow-y: auto; /* Permite desplazamiento vertical */
    padding: 0 20px; /* Agrega algo de margen */
    flex-direction: column;
}

/* Estilo del contenedor que centraliza todo el contenido */
.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;  /* Un poco de espacio desde la parte superior */
    animation: fadeIn 2s ease-in-out;
    overflow: hidden;
}

/* Estilo del formulario de login */
#login-form {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Agregar sombra para destacar el formulario */
    margin-top: 100px; /* Asegura que el formulario no esté tan cerca de la parte superior */
}

/* Centrado de los campos de entrada */
#login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de login */
#login-form button {
    padding: 10px 20px;
    background-color: #ff0072;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #d1005f;
}

/* Sección de habilidades */
#skills img {
    margin: 10px;
    transition: transform 0.3s ease;
}

#skills img:hover {
    transform: scale(1.2);
}

/* Sección de pie de página */
footer {
    margin-top: 30px;
}

footer p {
    font-size: 1.2rem;
    margin: 10px 0;
}


#login-form button:hover {
    background-color: #d1005f;
}

